.brush-tool {
    -fx-graphic: url('../resources/brush-tool.png');
    -fx-background-color: transparent;
}

.hand-tool {
    -fx-graphic: url('../resources/path-selection-tool.png');
    -fx-background-color: transparent;
}

.draw-line-tool {
    -fx-graphic: url('../resources/line.png');
    -fx-background-color: transparent;
}

.ellipse-tool {
    -fx-graphic: url('../resources/ellipse-Tool.png');
    -fx-background-color: transparent;
}

.triangle-tool {
    -fx-graphic: url('../resources/triangle.png');
    -fx-background-color: transparent;

}

.rectangle-tool {
    -fx-graphic: url('../resources/rectangle-tool.png');
    -fx-background-color: transparent;

}

.fill-tool {
    -fx-graphic: url('../resources/3d-material-drop-tool.png');
    -fx-background-color: transparent;
}

.toggle-button:selected {
    -fx-background-color: darkgrey;
}
